<h1>Holes for course: <%= @holes.first.course_id %></h1>
<table>
	<tr>
		<th>Label</th>
		<th>Tee 1 Length</th>
		<th>Tee 1 Par</th>
		<th>Tee 2 Length</th>
		<th>Tee 2 Par</th>
		<th>Tee 3 Length</th>
		<th>Tee 3 Par</th>
		<th>Tee 4 Length</th>
		<th>Tee 4 Par</th>
	</tr>

	<% @holes.each do |hole| %>
		<%= render hole %>
	<% end %>
