<h1>All Courses</h1>

<table>
	<tr>
		<th>Name</th>
		<th>Holes</th>
		<th>Address</th>
		<th>City</th>
		<th>State</th>
		<th>Zip</th>
		<th>Description</th>
	</tr>

	<% @courses.each do |course| %>
		<%= render course %>
	<% end %>
</table>
